#menu{
    float: left;
    height: 100vh;
    background-color:rgb(66, 66, 66);
    max-width: 535px;
    padding: 0;
    line-height: 62px;
    width: 480px;
}

#lottokep{
    height: auto;
    padding: 0;
    width: 480px;

}

#menu hr{ display: block;
    height: 1px;
    border: 0; 
    border-top: 1px solid black;
    
    padding: 0; 
    width: 90%;
}

#menu a{
    text-decoration: none;
    color: white;
    margin:15px;
    margin-left: 25px;
}

body{
    margin: 0%;
}